/* Piece.module.css */
.piece {
  width: 45px;
  height: 45px;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 1px 3px 3px rgba(9, 30, 66, 0.25),
    0px 0px 1px rgba(9, 30, 66, 0.31);
}

.piece:hover {
  background-color: rgba(168, 168, 168, 0.25);
}